packages/BCrypt-Official.0.1.109/.signature.p7s
packages/BCrypt-Official.0.1.109/lib/BCrypt.Net.XML
packages/BCrypt-Official.0.1.109/content/LICENSE.txt
packages/BCrypt-Official.0.1.109/BCrypt-Official.0.1.109.nupkg
packages/SharpSerializer.3.0.1/lib/netstandard1.3/Polenter.SharpSerializer.xml
packages/SharpSerializer.3.0.1/lib/netstandard1.0/Polenter.SharpSerializer.xml
packages/SharpSerializer.3.0.1/lib/net452/Polenter.SharpSerializer.xml
packages/SharpSerializer.3.0.1/SharpSerializer.3.0.1.nupkg
packages/SharpSerializer.3.0.1/.signature.p7s
